#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
}

h2 {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-family: "Courier New", Courier, monospace;
}

button {
  background-color: black;
  color: white;
  margin-top: 20px;
  font-size: medium;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Courier New", Courier, monospace;
}
button:hover {
  background-color: darkgrey;
  transition: 0.2s;
  color: black;
}

button.original {
  background-color: black;
  color: white;
  margin-top: 20px;
  font-size: medium;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Courier New", Courier, monospace;
}

button.original:hover {
  background-color: darkgrey;
  transition: 0.2s;
  color: black;
}

button.opposite {
  background-color: darkgrey;
  color: black;
  margin-top: 20px;
  font-size: medium;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Courier New", Courier, monospace;
}

button.opposite:hover {
  background-color: black;
  transition: 0.2s;
  color: white;
}

button.google {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 185px;
  height: 35px;
  border: none;
  font-size: 16px;
  margin-top: 15px;
  position: relative;
  font-weight: bold;
  cursor: pointer;
  background: #d6dbdf;
  background-image: url("https://developers.google.com/static/identity/images/btn_google_signin_light_normal_web.png?hl=es-419");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


button.google:hover {
  background: #38468c;
  color: #ffffff;
  border: 1px solid #38468c;
  cursor: pointer;
}

p {
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  width: 250px;
  text-align: justify;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 35px;
}
input {
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: -12px 8px darkgrey;
  margin-bottom: 10px;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.seccionInicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccionFeed {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.logoFeed {
  width: 60px;
}

.logoInicio {
  width: 200px;
}

/* FEED */
.navegador {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 15%;
}

.botonLogout {
  padding: 5px;
  margin: 0px;
  font-size: small;
}

.textoPost {
  width: 100%;
  height: 80px;
}

.botonPost {
  padding: 5px;
  margin: 5px;
  font-size: medium;
  background-color: black;
}
.columnaPost {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.parrafoPost {
  font-size: small;
  margin-top: 0px;
}
.tituloPost {
  font-size: medium;
  margin-top: 0px;
  margin-bottom: 5px;
}
.cadaPost {
  border: solid black;
  padding: 10px;
  margin-top: 20px;
  box-shadow: -12px 8px darkgrey;
}
